<!DOCTYPE html>
<html lang="en-US">
<head>
{% include site-head.html %}
</head>
<body>
<a class="skip-link" href="#main">Skip to main content</a>
{% include site-header.html %}
{% include print-provenance.html %}
{% include site-breadcrumbs.html %}
<main id="main" tabindex="-1">
{{ content }}
</main>
{% include site-footer.html %}
<script src="{{ '/assets/js/menu.js' | relative_url }}" defer></script>
{%- for src in page.scripts %}
<script src="{{ src | relative_url }}" defer></script>
{%- endfor %}
</body>
</html>
